.btn {
  padding: 10px 40px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  color: white;
  &:hover {
    border-color: rgb(140, 101, 101);
   color: rgb(0, 0, 0);
    background-color: #e0a4a4f8;
    transform: scale(1.1);
  }
}
