@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap");
@import url(./Fontspring-DEMO-ceraroundpro-regular.otf);
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  padding: 10px 40px;
  border: 1px solid #bb2339;
  border-radius: 25px;
  color: white;
}